@import url('https://cdnjs.cloudflare.com/ajax/libs/antd/4.4.2/antd.compact.css');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow: hidden;
}

div, p, h1, h2, h3, section, input, textarea, ul, li, button {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.75vh !important;
  font-style: normal;
  text-shadow: none;
  box-sizing: border-box;
}

* {
  outline: none;
}